.App-container {
  width: 80vw;
  height: 80vh;
  position: fixed;
  bottom: 90px;
  right: 90px;
  background-color: var(--secondary-lightest);
  border-radius: var(--spacing-2);
  border: var(--border);
  box-shadow: 0 0 0 5px var(--secondary-shadow);
  z-index: 5000;
}

@keyframes upwardAnimate {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}

.Chat-logo {
  position: fixed;
  border-radius: 50%;
  padding: var(--spacing);
  right: var(--spacing-3);
  bottom: var(--spacing-3);
  height: var(--spacing-4);
  width: var(--spacing-4);
  background-color: var(--secondary);
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
  animation: 1.7s ease-in-out 0s infinite normal none running upwardAnimate;
  animation-iteration-count: 1;
}

.page-scroll {
  overflow-y: auto;
  scroll-behavior: auto;
}

.bg-secondary-lightest {
  background-color: var(--secondary-lightest) !important;
}

.vertical-nav-container {
  height: calc(80vh - 44px) !important;
  border-radius: var(--spacing-m);
}

.chatbox {
  height: calc(80vh - 90px) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.message-box {
  border-radius: 4px;
}

.codeblock-container {
  background: rgb(1, 22, 39);
  border-radius: 16px;
  padding: 16px;
}

.bot-human-icon-wrapper{
  display: flex;
  justify-content: center;
}