.App-container {
  width: 80vw;
  height: 80vh;
  position: fixed;
  bottom: var(--spacing-5);
  right: var(--spacing-5);
  background-color: var(--primary);
}

.Chat-logo {
  position: fixed;
  border-radius: 50%;
  padding: var(--spacing);
  right: var(--spacing-3);
  bottom: var(--spacing-3);
  height: var(--spacing-4);
  width: var(--spacing-4);
  background-color: var(--secondary);
}

.page-scroll {
  overflow-y: auto;
  scroll-behavior: auto;
}

.bg-secondary-lightest {
  background-color: var(--secondary-lightest) !important;
}

.vertical-nav-container {
  border-right: var(--border);
  height: calc(80vh - 44px) !important;
  border-radius: var(--spacing-m);
}

.chatbox {
  height: 70vh;
}

.message-box {
  border-radius: 4px;
}