.App-container {
  width: 80vw;
  height: 80vh;
  position: fixed;
  bottom: var(--spacing-6);
  right: var(--spacing-6);
  background-color: var(--secondary-lightest);
  border-radius: var(--spacing-2);
  border: var(--border);
  box-shadow: 0 0 0 5px var(--secondary-shadow);
  z-index: 5000;
}

.Chat-logo {
  position: fixed;
  border-radius: 50%;
  padding: var(--spacing);
  right: var(--spacing-3);
  bottom: var(--spacing-3);
  height: var(--spacing-4);
  width: var(--spacing-4);
  background-color: var(--secondary);
}

.page-scroll {
  overflow-y: auto;
  scroll-behavior: auto;
}

.bg-secondary-lightest {
  background-color: var(--secondary-lightest) !important;
}

.vertical-nav-container {
  height: calc(80vh - 44px) !important;
  border-radius: var(--spacing-m);
}

.chatbox {
  height: calc(80vh - 90px) !important;
}

.message-box {
  border-radius: 4px;
}

.codeblock-container {
  background: rgb(1, 22, 39);
  border-radius: 16px;
  padding: 16px;
}
