.App-container {
  width: 70vw;
  height: 70vh;
  position: fixed;
  bottom: var(--spacing-5);
  right: var(--spacing-5);
  background-color: var(--primary);
}

.Chat-logo {
  position: fixed;
  border-radius: 50%;
  padding: var(--spacing);
  right: var(--spacing-3);
  bottom: var(--spacing-3);
  height: var(--spacing-4);
  width: var(--spacing-4);
  background-color: var(--secondary);
}
